.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#top {
  width: 100%;
}

#description {
  width: 670px;
}

.container {
  display: flex;
  justify-content: center;
}

#Carousel {
  display: flex;
  justify-content: center;
}

.center {
  padding-top: 16px;
  padding-right: 16px;
}